body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 25px;
}
#logo {
    margin: 0px;
    padding: 5px;
    text-align: center;
    font-size: 40px;
    line-height: 70px;
    background: #2F6386;
}

.date {
    display: flex;
    justify-content: flex-end;
    align-content: flex-start;
    font-size: 15px;
}

.main-container {
    padding: 1px;
    margin: 0px;
    background: #54B4F7;
}

.main-news-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: space-around;
    padding: 0px;
    margin: 0px;
}

.main-news{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 15px;
    text-align: center;
}

.main-news a{
    border-bottom: 1px solid grey;
    text-decoration: none;
    color: black;
    padding: 10px;
}

.main-news img {
    width: 100%;
}

.others-news-container{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    text-align: center;

}

.others-news-container a {
    padding: 10px;
    text-decoration: none;
    color: black; 
}

.other-news img {
    width: 80%;
}

.other-news{
    text-align: center;
    margin: 15px;
    border-bottom: 1px solid lightslategray;
    
}

h2 {
    text-decoration: underline;
    font-size: 30px;
    line-height: 40px;
}

@media screen and (min-width: 1024px) {
     .main-container {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: center;
    }

    .others-news-container {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;    
    }

    .other-news {
        border-bottom: 1px solid lightslategray;
        
    }

    .other-news img {
        width: 90%;
    }
    
    
  }