/* Navbar */
.navbar {
    margin: 0px;
    padding: 0px;
    background: #0870B4;
}
  
.hamb-menu {
display: none;
}

.navbar-complete {
display: none;
}

.navbar-complete {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0px;
    padding: 5px;
    list-style: none;  
}
    
.navbar-complete li a{
    padding: 10px;
    font-size: 25px;
    text-decoration: none;
    font-weight: bold;
    color: #051825;
}

.navbar-complete li a:hover {
    color: #FFF;
}

/* Form */

#register-form {
    display:flex;
    flex-direction: column;
}

.register-item {
    width: 40%;
}

.container-field {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin: 10px 5px;
    width: 50%;
}

#button{
    margin: 10px 5px;
    width: 50%;
}

/* Paragraph error */

#p-name, #p-name-length {
    display: none;
    font-size: 12px;
    font-weight: 800;
}

#p-email {
    display: none;
    font-size: 12px;
    font-weight: 800;
}

#p-password {
    display: none;
    font-size: 12px;
    font-weight: 800;
}

#p-age, #p-age-older{
    display: none;
    font-size: 12px;
    font-weight: 800;
}

#p-tel-number, #p-tel-number-length, #p-city, #p-postal-code, #p-dni, #p-adress{
    display: none;
    font-size: 12px;
    font-weight: 800
}






@media screen and (min-width: 1024px){
    
     #register-form{
         flex-wrap: nowrap;
         justify-content: space-between;
         margin: auto;
         width: 90%;
       
     }
    .double-column{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
    }

    .container-field{
        width: 400px;
        margin: 15px;
    }

    .box-column{
        margin: 10px 50px;

    }

    .button-box{
        text-align: center;
    }

    #button{
        width: 25%;
        
    }

}